# URL pública de SAP B1 Service Layer — con certificado SSL válido
SAP_SERVICE_LAYER_URL=https://sap.gpa.com.mx/b1s/v1
SAP_COMPANY_DB=NOMBRE_EMPRESA_SAP
SAP_USER=usuario_sap
SAP_PASSWORD=password_sap
